In [1]:
import pandas as pd
import numpy as np
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

from sklearn.linear_model import LinearRegression
from joblib import dump
from joblib import load

In [2]:
df = pd.read_csv('data4.csv')
df = df.drop(df.index[0])
df

,id,Bulan,No.,No_laporan,Tanggal_laporan,Tanggal_penilaian,NO_SP,Tanggal_SP,Nama_debitur,Nama_Pemberi_Tugas,...,ppn,Indikasi_nilai,Kesimpulan_nilai,Report,Titik_koordinat,Nama,Jumlah_kamar,Jumlah_kamarmandi,Jumlah_lantai,Pusat_kota
1,37,Juni,37,00173/2.0045-02/PI/07/PS.0205/1/VI/2021,21 Juni 2021,05 Mei 2021,130402.02-PNR/SIG-MLG/AIG/IV/21,13 April 2021,Mohamad Romli,PT. Bank Negara Indonesia (Persero) Tbk.,...,350000,1000000,1692200000,Long Report,"-8.434607, 114.338428",MUHAMAD ROMLI,1,1,2,PinggirKota
2,22,Juni,22,00158/2.0045-02/PI/07/PS.0205/1/VI/2021,18 Juni 2021,04 Juni 2021,050501.02-PNR/SIG-MLG/AIG/V/21,05 Mei 2021,Yudi Hartanto,"PT. Bank Syariah Indonesia, Tbk.",...,318182,1300000,122700000,Long Report,"-8.431549, 114.336030",AJAI GOVIN GUSTIKA,3,1,2,PinggirKota
3,23,Juni,23,00159/2.0045-02/PI/07/PS.0205/1/VI/2021,18 Juni 2021,04 Juni 2021,050501.02-PNR/SIG-MLG/AIG/V/21,05 Mei 2021,Yudi Hartanto,"PT. Bank Syariah Indonesia, Tbk.",...,318182,1000000,885000000,Long Report,"-8.426518, 114.324317",IKA ANDRIANI,0,0,0,PinggirKota
4,24,Juni,24,00160/2.0045-02/PI/07/PS.0205/1/VI/2021,18 Juni 2021,04 Juni 2021,050501.02-PNR/SIG-MLG/AIG/V/21,09 Mei 2021,Yudi Hartanto,"PT. Bank Syariah Indonesia, Tbk.",...,318182,1100000,2070400000,Long Report,"-8.418349, 114.337703","ARIF BASUKI, Sarjana Sains Terapan",2,1,1,PinggirKota
5,36,Juni,36,00172/2.0045-02/PI/07/PS.0205/1/VI/2021,21 Juni 2021,05 Mei 2021,130402.02-PNR/SIG-MLG/AIG/IV/21,13 April 2021,Iwan Wahyudi,PT. Bank Negara Indonesia (Persero) Tbk.,...,300000,2600000,1658100000,Long Report,"-8.202230, 113.618496",SOETIHA,2,1,2,PusatKota
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,51,Juni,4,00187/2.0045-02/PI/07/PS.0205/1/VII/2021,06 Juli 2021,28 Juni 2021,080601.02-PNR/SIG-MLG/AIG/VI/21,08 Juni 2021,Harsono,PT. Bank Negara Indonesia (Persero) Tbk.,...,418182,5500000,1211500000,Long Report,"-7.873751, 112.527889",HARSONO,4,1,2,PusatKota
73,76,Agustus,1,00212/2.0045-02/PI/07/PS.0205/1/VIII/2021,02 Agustus 2021,05 Juli 2021,160605.02-PNR/SIG-MLG/AIG/VI/21,16 Juni 2021,Susmiati,PT. Bank CIMB Niaga Tbk.,...,363636,1800000,428400000,Long Report,"-7.819947, 111.997559","SUSMIATI, Sarjana Keperawatan, Magister Pendid...",2,1,1,PusatKota
74,77,Agustus,1,00212/2.0045-02/PI/07/PS.0205/1/VIII/2021,02 Agustus 2021,05 Juli 2021,160605.02-PNR/SIG-MLG/AIG/VI/21,16 Juni 2021,Susmiati,PT. Bank CIMB Niaga Tbk.,...,363636,1800000,428400000,Long Report,"-7.819947, 111.997559","SUSMIATI, Sarjana Keperawatan, Magister Pendid...",2,1,1,PusatKota
75,48,Juni,1,00184/2.0045-02/PI/07/PS.0205/1/VII/2021,05 Juli 2021,17 Juni 2021,310503.02-PNR/SIG-MLG/AIG/V/21,31 Mei 2021,Ambarwati,PT. Bank CIMB Niaga Tbk.,...,363636,1400000,255000000,Long Report,"-7.623087, 111.507036",Nyonya AMBARWATI,2,1,1,PusatKota
76,49,Juni,2,00185/2.0045-02/PI/07/PS.0205/1/VII/2021,06 Juli 2021,04 Juli 2021,160602.02-PNR/SIG-MLG/AIG/VI/21,16 Juni 2021,Marlina Sri Kushartini,PT. Bank CIMB Niaga Tbk.,...,363636,900000,1009000000,Long Report,"-7.566907, 111.848717","MARLINA SRI KUSHARTINI, S.pi.",2,1,1,PusatKota

In [3]:
column =  df.columns.tolist()
print(column)

['id', 'Bulan', 'No.', 'No_laporan', 'Tanggal_laporan', 'Tanggal_penilaian', 'NO_SP', 'Tanggal_SP', 'Nama_debitur', 'Nama_Pemberi_Tugas', 'Tujuan', 'Obyek', 'Lokasi', 'Kota/Kabupaten', 'LT', 'LB', 'CP', 'Supervisi', 'Penilai', 'Pelaksana', 'Fee_total', 'dpp', 'ppn', 'Indikasi_nilai', 'Kesimpulan_nilai', 'Report', 'Titik_koordinat', 'Nama', 'Jumlah_kamar', 'Jumlah_kamarmandi', 'Jumlah_lantai', 'Pusat_kota']

# SETTING DATA FEATURES

In [4]:
features = ["Kota/Kabupaten", 
"LT", 
"LB",
"Tujuan",
"Obyek",
"Indikasi_nilai",
"Jumlah_kamar",
"Jumlah_kamarmandi",
"Jumlah_lantai",
"Pusat_kota",
]

data_features = df[features]
data_features

,Kota/Kabupaten,LT,LB,Tujuan,Obyek,Indikasi_nilai,Jumlah_kamar,Jumlah_kamarmandi,Jumlah_lantai,Pusat_kota
1,Kab. Banyuwangi,629,596,Lelang,Rumah Tinggal,1000000,1,1,2,PinggirKota
2,Kab. Banyuwangi,29,52,Lelang,Rumah Tinggal,1300000,3,1,2,PinggirKota
3,Kab. Banyuwangi,885,0,Lelang,Tanah Kosong,1000000,0,0,0,PinggirKota
4,Kab. Banyuwangi,1208,234,Lelang,Rumah Tinggal,1100000,2,1,1,PinggirKota
5,Kab. Jember,291,259,Lelang,Rumah Tinggal,2600000,2,1,2,PusatKota
...,...,...,...,...,...,...,...,...,...,...
72,Kota Batu,113,184,Lelang,Rumah Tinggal,5500000,4,1,2,PusatKota
73,Kota Kediri,138,100,Lelang,Rumah Tinggal,1800000,2,1,1,PusatKota
74,Kota Kediri,138,100,Lelang,Rumah Tinggal,1800000,2,1,1,PusatKota
75,Kota Madiun,84,55,Lelang,Rumah Tinggal,1400000,2,1,1,PusatKota
76,Kab. Nganjuk,402,462,Lelang,Rumah Tinggal,900000,2,1,1,PusatKota

# Categorical Encode

In [5]:
# Assuming df is your DataFrame and the columns are categorical
categorical_columns = ["Kota/Kabupaten", "Tujuan", "Obyek", "Pusat_kota"]

# Use one-hot encoding for categorical columns
X = pd.get_dummies(data_features, columns=categorical_columns)
X

,LT,LB,Indikasi_nilai,Jumlah_kamar,Jumlah_kamarmandi,Jumlah_lantai,Kota/Kabupaten_Kab. Banyuwangi,Kota/Kabupaten_Kab. Jember,Kota/Kabupaten_Kab. Lumajang,Kota/Kabupaten_Kab. Malang,...,Kota/Kabupaten_Kota Kediri,Kota/Kabupaten_Kota Madiun,Kota/Kabupaten_Kota Malang,Tujuan_Lelang,Tujuan_Penjaminan Utang,Obyek_Ruko/Rukan,Obyek_Rumah Tinggal,Obyek_Tanah Kosong,Pusat_kota_PinggirKota,Pusat_kota_PusatKota
1,629,596,1000000,1,1,2,1,0,0,0,...,0,0,0,1,0,0,1,0,1,0
2,29,52,1300000,3,1,2,1,0,0,0,...,0,0,0,1,0,0,1,0,1,0
3,885,0,1000000,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,1,0
4,1208,234,1100000,2,1,1,1,0,0,0,...,0,0,0,1,0,0,1,0,1,0
5,291,259,2600000,2,1,2,0,1,0,0,...,0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,113,184,5500000,4,1,2,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
73,138,100,1800000,2,1,1,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1
74,138,100,1800000,2,1,1,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1
75,84,55,1400000,2,1,1,0,0,0,0,...,0,1,0,1,0,0,1,0,0,1
76,402,462,900000,2,1,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1

# Setup data target

In [6]:
y = df.Kesimpulan_nilai

In [7]:
## Replace 0 with mean value

X.Indikasi_nilai = df.Indikasi_nilai.replace(0, X.Indikasi_nilai.mean())

## Change data to All INT

In [8]:
## Replace 0 with mean value
X.Indikasi_nilai = df.Indikasi_nilai.replace(0, X.Indikasi_nilai.mean())

X = X.astype(int)
y = y.astype(int)

In [9]:
##Check Columns Types

X.dtypes

LT                                int64
LB                                int64
Indikasi_nilai                    int64
Jumlah_kamar                      int64
Jumlah_kamarmandi                 int64
Jumlah_lantai                     int64
Kota/Kabupaten_Kab. Banyuwangi    int64
Kota/Kabupaten_Kab. Jember        int64
Kota/Kabupaten_Kab. Lumajang      int64
Kota/Kabupaten_Kab. Malang        int64
Kota/Kabupaten_Kab. Nganjuk       int64
Kota/Kabupaten_Kab. Pasuruan      int64
Kota/Kabupaten_Kota Batu          int64
Kota/Kabupaten_Kota Kediri        int64
Kota/Kabupaten_Kota Madiun        int64
Kota/Kabupaten_Kota Malang        int64
Tujuan_Lelang                     int64
Tujuan_Penjaminan Utang           int64
Obyek_Ruko/Rukan                  int64
Obyek_Rumah Tinggal               int64
Obyek_Tanah Kosong                int64
Pusat_kota_PinggirKota            int64
Pusat_kota_PusatKota              int64
dtype: object

In [10]:
y.dtypes

dtype('int64')

# Random Forest Regressor

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Random Forest Regressor
rf_regressor = RandomForestRegressor()
rf_regressor.fit(X_train, y_train)

# Make predictions on the test set
predictions = rf_regressor.predict(X_test)

# Evaluate the model
#rmse = np.sqrt(mean_squared_error(y_test, predictions))
#print(f'Mean Squared Error: {rmse}')

In [12]:
### random forest function

def predict(test_size , model_name):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=42)

    # Create and train the Random Forest Regressor
    rf_regressor = RandomForestRegressor()
    rf_regressor.fit(X_train, y_train)

    # Make predictions on the test set
    predictions = rf_regressor.predict(X_test)
    
    
    dump(rf_regressor, model_name+'.joblib')

    # Evaluate the model
    #rmse = np.sqrt(mean_squared_error(y_test, predictions))
    #print(f'Mean Squared Error: {rmse}')
    return 0

In [14]:
## run model
predict(0.1, "Model1")
predict(0.2, "Model2")
predict(0.3, "Model3")
predict(0.4, "Model4")
predict(0.5, "Model5")

0

# Check y_test and Predictions

In [ ]:
y_test

In [ ]:
for x in predictions:
    print(x)

In [ ]:
predictions

# Evaluation

## Mean Squared Error

In [ ]:
# Mean Squared Error
error = abs(y_test - predictions)

total_error = sum(error)
mean_error = total_error / len(y_test)

print("Total Error:")
print(total_error)

print("Mean Error:")
print(mean_error)

#

In [ ]:
import numpy as np

# Assuming y_test and predictions are your actual and predicted values
percentage_error = (   abs(y_test - predictions) / y_test) * 100

mean_percentage_error = np.mean(percentage_error)

print("Mean Percentage Error:")
print(mean_percentage_error)

In [ ]:
(sum(error)/sum(y_test))*100

In [ ]:
total_percentage_error = (np.sum(error) / np.sum(y_test)) * 100

print("Error to Total Test Value")
print(total_percentage_error)

# Compare to linier regression

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Linear Regression model
linear_reg_model = LinearRegression()
linear_reg_model.fit(X_train, y_train)

# Make predictions on the test set
predictlinier = linear_reg_model.predict(X_test)

# Evaluate the model
rmse = np.sqrt(mean_squared_error(y_test, predictlinier))
print(f'Mean Squared Error: {rmse}')

In [ ]:
error2 = abs(y_test - predictlinier)

total_error2 = sum(error2)
mean_error2 = total_error2 / len(y_test)

print("Total Error:")
print(total_error2)

print("Mean Error:")
print(mean_error2)

In [ ]:
predictions